body {
	text-align: center;
	font-family:verdana;
	font-size:13px;
}

.demo, #blurb {		
	width:75%;	
	margin-left:auto;
	margin-right:auto;	
	margin-bottom: 20px;
}

.demo {
	font-size:15px;	
	position:relative;
	border:1px solid #456;	
	overflow:scroll;	
	height:600px;
}

#demo4, #demo6 {
	background:url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
}

.w { 
	width:5em;
	padding:1em;
	position:absolute;
	border: 1px solid black;
	z-index:5;			
	border:20px solid green;	
	cursor:pointer;
	background-color:white;
	opacity:0.8;
	border-radius:25px;
}

.w1 { width:10em; height:10em; }
.w2 { height:5em; width:5em; }
.w3 { width:7em;height:5em; }
.w4 { height:7em;width:12em; }
.w5 { width:5em;height:5em; }

.indicator {
	width:2px;
	height:2px;
	background-color: red;
	position: absolute;
}

.focus {
	width:40px;
	height:40px;
	
	border:1px solid blue;
	position: absolute;
}